/* START global */

body {
    background-color: black;
    color: #17A816;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.thisURL {
    font-weight: bold;
}

/* END global */


/* START Nav Bar! */

header {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

/* Matrixy banner image*/

.banner-image { 
    position: absolute;
    width: 100%;
    height: 200px;
    border: 4px groove #17A816;
    box-shadow: 2px 2px 2px grey;
    z-index: -2;
}

#keanuHawt-right {
    position: absolute;
    z-index: -1;
    top: 12px;
    right: 15px;
    width: 155px;
    height: 180px;
    border: 2px groove #17A816;
    
}
@media (max-width: 600px) {
    #keanuHawt-right { display: none; }
}
@media (max-width: 600px) {
    #keanuHawt-left { display: none; }
}

#keanuHawt-left {
    position: absolute;
    z-index: -1;
    top: 12px;
    left: 15px;
    width: 155px;
    height: 180px;
    border: 2px groove #17A816;
}

header h1 {
    text-align: center;
    text-shadow: 2px 2px 2px grey;
    color: #17A816;
    border: 4px solid #17A816;
    background-color: rgba(0,0,0,0.8);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
    max-height: 85px;
    overflow: hidden;
}
@media (max-width: 575px) {
    header h1 { max-height: 40px; }
}

/* Nav container*/
#main-nav {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

/* Nav links*/
#main-nav a {
    display: flex;
    flex-wrap: wrap;
    color: black;
    border: 2px solid black;
    background-color: rgba(23,168,22,0.8);
    padding: 6px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 5px 3px 15px 5px rgba(0,0,0,0.8);
}

/* END Nav Bar!! */

#mainBody {
    margin-top: 215px;
    color: #17A816;
    margin-left: 5%;
    margin-right: 5%;
}

/* START Index.html styling */


body.indexBody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

#cards {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 20px;
}

.keanuImage {
    margin-top: 20px;
}

.card {
    text-align: center;
    width: 30%;
    padding: 3px 6px;
    margin-bottom: 10px;
    color: white;
    background-color: limegreen;
}

.card ul {
    text-align: left;
}

.card li {
    color: black;
}

.indexBody img {
    width: 100%
}

.cardTitle {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: -25px;
}

.cardTitleName {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    margin-top: -10px;
}

.cardProject {
    font-size: .7em;
}

.indexBody a {
    color: white;
}

.keanuName {
    color: black;
    margin-top: -50px;
}

p.cardProject {
    text-align: center;
}


.title {
    text-align: center;
    font-size: 2em;
    margin-top: 30px;
}

/* END Index.html styling */


/* Start! Footer! */

footer {
    color: white;
}

footer img {
    width: 100%;
}

.footerLinks {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    position : static;
    bottom : 0;
    background-image: url("/src/images/Matrixy.jpg");
    height: 60px;
}

.footerLinks a {
    margin-top: 7px;
    height: 45px;
    width: 45px;
    margin-left: 3%;
    margin-right: 3%;
   
}

/* End Footer */



/* Personal page styling start*/
.personalInfo {
    font-size: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: #17A816;
    padding-top: 25px;
}

.personalInfo div {
    padding-top: 20px;
}

.personalInfo div h1 {
    text-shadow: 5px 2px 9px grey;
}

.personalInfo__date {
    font-weight: bold;
}

.personalInfo__death {
    font-weight: bold;
    font-size: 28px;
    padding: 50px 50px;
}

.personalInfo__image {
    max-width: 67%;
    height: 600px;
    padding-bottom: 30px;
}
/* End Personal Styling */

/* START News Feed styling */

body.newsFeedBody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

.newsFeedBody img {
    width: 100%
}

.newsFeedBody a {
    color: white;
}

.cardTitleNews {
    font-size: 1.1em;
    font-weight: bold;
}

/* END News Feed styling */